robot/.vscode
robot/.vscode/.browse.c_cpp.db*
robot/.vscode/c_cpp_properties.json
robot/.vscode/launch.json
robot/.vscode/ipch

**/__pycache__/
.env/
.idea/
/venv/
**.DS_Store
*.pyc
*.pyo
*.pyd
*.exe
*.dll
*.so
*.obj
*.o
*.a
*.lib
*.def
*.manifest
*.exp
*.ilk
*.ncb
*.sdf
*.pdb
*.idb
*.ipch
*.opensdf
*.bat
*.cmd
*.vspscc
*.suo
*.tlh
*.tli
*.tlb
*.cache
*.log
*.tmp
*.bak
*.swp
*.swn
*.swo
*.orig
*.rej
