**/__pycache__/

.idea/
/venv/
**.DS_Store
*.pyc
*.pyo
*.pyd
*.exe
*.dll
*.so
*.obj
*.o
*.a
*.lib
*.def
*.manifest
*.exp
*.ilk
*.ncb
*.sdf
*.pdb
*.idb
*.ipch
*.opensdf
*.bat
*.cmd
*.vspscc
*.suo
*.tlh
*.tli
*.tlb
*.cache
*.log
*.tmp
*.bak
*.swp
*.swn
*.swo
*.orig
*.rej
