argcomplete
bidict
certifi
cffi
charset-normalizer
click
coloredlogs
contourpy
cv2_enumerate_cameras
cycler
Flask
Flask-Cors
Flask-SocketIO
flatbuffers
fonttools
h11
humanfriendly
idna
itsdangerous
Jinja2
kiwisolver
MarkupSafe
matplotlib
mergedeep
mpmath
numpy
onnxruntime
opencv-python
packaging
pillow
piper-tts
piper_phonemize_cross
protobuf
pycparser
pyparsing
python-dateutil
python-engineio
python-socketio
requests
simple-websocket
six
sounddevice
sympy
urllib3
websocket-client
Werkzeug
wsproto
whisperx
torch
cv2_enumerate_cameras